@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    @apply h-full;
  }

  body {
    @apply min-h-full bg-white text-gray-900 dark:bg-black dark:text-gray-100;
    font-family: Arial, Helvetica, sans-serif;
  }
}
